@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');

.nav {
    display:flex;
    flex-direction: column;
    position:fixed;
    width: 250px;
    height: 100%;
    background-color: #353C45;
    justify-content: space-between;
}

.logo {
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #EEEEEE;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    margin-left: 30px;
    margin-top: 20px;
    gap: 10px;
    cursor: pointer;
}

.navbar-links {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    gap: 30px;
    margin-bottom: 500px;
}

.navbar-links a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    transition: all .2s ease-in-out;
}

.navbar-links a:hover {
    transform: scale(1.05);
}

.profilejoin {
    display:flex;
    flex-direction: row;
    align-items: center;
    color: #EEEEEE;
    gap: 30px;
    margin-right: 40px;
}

.profilejoin a {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu';
    transition: all .2s ease-in-out;
    margin-bottom: 20px;
    margin-left: 30px;
}

.profilejoin a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    color: #EEEEEE;
}